<!--
 * @Author: 05ZT30 molly.zheng.work@outlook.com
 * @Date: 2022-07-05 18:39:56
 * @LastEditors: 05ZT30 molly.zheng.work@outlook.com
 * @LastEditTime: 2022-07-12 18:01:56
 * @FilePath: \mysite\account\templates\base copy.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/body.css' %}" rel="stylesheet" type="text/css" />
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
</head>

<body>
    <div class="full_box">
        <div class="head_box">
            <img src="{% static 'pictures/HeadPicture.jpg' %}" width="100%" height="300px" alt="加载失败" />
            {% if request.user.is_authenticated %}
            <div id="user">
                <div>
                    <a href="/index/" id="index">主页</a>
                </div>
                <i>{{ request.user.username}}</i>
                <a href="/logout/" id="logout">登出</a>
            </div>
            {% else %}
            <div id="login">
                <a href="/login/"> 用户登录 </a>
                <!-- <a href="/login_teacher/"> 教师登录 </a> -->
                <!-- <a href="/login_manager/"> 管理员登录 </a> -->
            </div>
            {% endif %}
        </div>
        <div class="body_box">
            {% block content %}
            {% endblock %}
        </div>
        <div class="tail_box">
            Copyright © 温州大学城附属学校 All Rights Reserved. 浙ICP备05087129号 浙公网安备 33030402001027号
        </div>
    </div>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{% block js %}
{% endblock %}

</html>