<!--
 * @Author: 05ZT30 molly.zheng.work@outlook.com
 * @Date: 2022-05-02 11:18:14
 * @LastEditors: 05ZT30 molly.zheng.work@outlook.com
 * @LastEditTime: 2022-07-12 17:13:36
 * @FilePath: \mysite\login\templates\login\index.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
{% extends "main/base.html" %}
{% load static%}
{% block title %}主页{% endblock %}
{% block css %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock%}
{% block content %}
<div id="slider">
    <ul class="slider-item-container">
        <li class="slider-items">
            <a class="slider-imgs" href="#"><img src="{% static 'pictures/SlidePicture (1).jpg' %}" alt="加载失败" /></a>
        </li>
        <li class="slider-items">
            <a class="slider-imgs" href="#"><img src="{% static 'pictures/SlidePicture (1).png' %}" alt="加载失败" /></a>
        </li>
        <li class="slider-items">
            <a class="slider-imgs" href="#"><img src="{% static 'pictures/SlidePicture (2).jpg' %}" alt="加载失败" /></a>
        </li>
        <li class="slider-items">
            <a class="slider-imgs" href="#"><img src="{% static 'pictures/SlidePicture (3).jpg' %}" alt="加载失败" /></a>
        </li>
    </ul>
    <div class="arrow-container">
        <span class="left-arrow"></span>
        <span class="right-arrow">></span>
    </div>
    <div class="indicator-container">
        <span class="indicator active"></span>
        <span class="indicator"></span>
        <span class="indicator"></span>
        <span class="indicator"></span>
    </div>
</div>
<div id="news">
    <ul class="news1">
        <li class="news_title">
            <div>最新讲座信息</div>
        </li>
        <li class="news_items">
            <a href="#">讲座信息1</a>
        </li>
        <li class="news_items">
            <a href="#">讲座信息1</a>
        </li>
        <li class="news_items">
            <a href="#">讲座信息1</a>
        </li>
        <li class="news_items">
            <a href="#">讲座信息1</a>
        </li>
        <li class="news_items">
            <a href="#">讲座信息1</a>
        </li>
    </ul>
    <ul class="news2">
        <li class="news_title">
            <div>问题答案归档</div>
        </li>
        <li class="news_items">
            <a href="#">2</a>
        </li>
        <li class="news_items">
            <a href="#">2</a>
        </li>
        <li class="news_items">
            <a href="#">2</a>
        </li>
        <li class="news_items">
            <a href="#">2</a>
        </li>
        <li class="news_items">
            <a href="#">2</a>
        </li>
    </ul>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/slider1.js' %}" type="text/javascript"></script>
{% endblock %}